{% extends 'base.html.twig' %}

{% block title %}Wowtomatik / admin{% endblock %}

{% block body %}
<h1>Dashbord Admin</h1>
    <div class="container">
        <div class="row">
            <div class="col-xxl-2 dashboard">
                <button class="btn btn-outline-primary" id="1">Boss</button>
                <button class="btn btn-outline-primary" id="2">Classe</button>
                <button class="btn btn-outline-primary" id="3">Instance</button>
                <button class="btn btn-outline-primary" id="4">Race</button>
                <button class="btn btn-outline-primary" id="5">Spécialisation</button>
                <button class="btn btn-outline-primary" id="6">Character</button>
                <button class="btn btn-outline-primary" id="7">Guilde</button>
            </div>

            <div class="col-xxl-10 ">
                <div id="boss">
                    <h1>Boss index</h1>
                    <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                        <a class="btn btn-outline-success btn-lg" href="{{ path('app_boss_new') }}">Nouveau Boss</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>NameBoss</th>
                                <th class="priority-4">ImgBoss</th>
                                <th class="priority-3">Instance</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for boss in bosses %}
                            <tr>
                                <td>{{ boss.nameBoss }}</td>
                                <td class="priority-4"><img src="{{ asset('upload/boss/' ~ boss.imgBoss) }}" width="100"></td>
                                <td class="priority-3"> {{ boss.instance.nameInstance }} </td>
                                <td>
                                    <a class="btn btn-outline-primary"  href="{{ path('app_boss_show', {'id': boss.id}) }}">show</a>
                                    <a class="btn btn-outline-info" href="{{ path('app_boss_edit', {'id': boss.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="classe">
                    <h1>Liste des Classe</h1>
                    <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                        <a class="btn btn-outline-success btn-lg" href="{{ path('app_classe_new') }}">Nouvelle Classe</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="priority-3">Picture</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for classe in classes %}
                            <tr>
                                <td>{{ classe.name }}</td>
                                <td class="priority-3"><img src="{{ asset('upload/classe/' ~ classe.picture) }}" width="100"></td>
                                <td>
                                    <a class="btn btn-outline-primary" href="{{ path('app_classe_show', {'id': classe.id}) }}">show</a>
                                    <a class="btn btn-outline-info" href="{{ path('app_classe_edit', {'id': classe.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="instance">
                <h1>Liste des Instances</h1>
                <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                    <a class="btn btn-outline-success btn-lg" href="{{ path('app_instances_new') }}">Nouvelle Instance</a>
                </div>
                    {% for instance in instances %}
                        <div class="superBox">
                            <h2>{{instance.nameInstance}}</h2>
                            <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                                <a class="btn btn-outline-primary" href="{{ path('app_instances_show', {'id': instance.id}) }}">show</a>
                                <a class="btn btn-outline-info" href="{{ path('app_instances_edit', {'id': instance.id}) }}">edit</a>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="maxWidth">Boss Dispnible</th>
                                        <th class="priority-3">Image du Boss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for boss in instance.bosses %}
                                    <tr>
                                        <td class="maxWidth">{{ boss.nameBoss }}</td>
                                        <td class="priority-3"><img src="{{ asset('upload/boss/' ~ boss.imgBoss) }}" width="100"></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table> 
                        </div> 
                    {% else %}
                        <h1>no records found</h1>
                    {% endfor %}
                </div>

                <div id="race">
                    <h1>Race index</h1>
                    <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                        <a class="btn btn-outline-success btn-lg" href="{{ path('app_race_new') }}">Nouvelle Race</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="priority-3">Picture</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for race in races %}
                            <tr>
                                <td>{{ race.name }}</td>
                                <td class="priority-3"><img src="{{ asset('upload/race/' ~ race.picture) }}" width="100"></td>
                                <td>
                                    <a class="btn btn-outline-primary" href="{{ path('app_race_show', {'id': race.id}) }}">show</a>
                                    <a class="btn btn-outline-info" href="{{ path('app_race_edit', {'id': race.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="specialisation">
                    <h1>Specialisation index</h1>
                    <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                        <a class="btn btn-outline-success btn-lg" href="{{ path('app_specialisation_new') }}">Nouvelle Spécialisation</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Picture</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for specialisation in specialisations %}
                            <tr>
                                <td>{{ specialisation.name }}</td>
                                <td><img src="{{ asset('upload/specialisation/' ~ specialisation.picture) }}" width="50"></td>
                                <td>
                                    <a class="btn btn-outline-primary" href="{{ path('app_specialisation_show', {'id': specialisation.id}) }}">show</a>
                                    <a class="btn btn-outline-info" href="{{ path('app_specialisation_edit', {'id': specialisation.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="character">
                    <h1 class="text-center">Character</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Personnage</th>
                                <th>Utilisateur</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for character in characters %}
                            <tr>
                                <td>{{ character.nameCharacter }}</td>
                                <td>{{ character.user.pseudo }}</td>
                                <td>
                                    <a class="btn btn-outline-primary" href="{{ path('app_characters_show', {'id': character.id}) }}">show</a>
                                    <a class="btn btn-outline-info" href="{{ path('app_characters_edit', {'id': character.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="guild">
                    <h1>Liste des Guildes</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Guilde</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for guild in guilds %}
                                <tr>
                                    <td>{{ guild.nameGuild }}</td>
                                    <td>
                                        <a class="btn btn-outline-primary" href="{{ path('app_guilds_show', {'id': guild.id}) }}">show</a>
                                        <a class="btn btn-outline-info" href="{{ path('app_guilds_edit', {'id': guild.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
      $(document).ready(function(){
       window.onload = function(){  
            $("#boss, #classe, #instance, #race, #specialisation, #character, #guild").hide();
        }  
        
        $("#1").click(function(){
            $("#classe, #instance, #race, #specialisation, #character, #guild").hide();
            $("#boss").show();
        });
        $("#2").click(function(){
            $("#boss, #instance, #race, #specialisation, #character, #guild").hide();
            $("#classe").show();
        });
        $("#3").click(function(){
            $("#boss, #classe, #race, #specialisation, #character, #guild").hide();
            $("#instance").show();
        });
        $("#4").click(function(){
            $("#boss, #classe, #instance, #specialisation, #character, #guild").hide();
            $("#race").show();
        });
        $("#5").click(function(){
            $("#boss, #classe, #instance, #race, #character, #guild").hide();
            $("#specialisation").show();
        });
        $("#6").click(function(){
            $("#boss, #classe, #instance, #race, #specialisation, #guild").hide();
            $("#character").show();
        });
        $("#7").click(function(){
            $("#boss, #classe, #instance, #race, #specialisation, #character").hide();
            $("#guild").show();
        });
    })
    </script>
{% endblock %}