{% extends 'base.html.twig' %}

{% block title %}Kill index{% endblock %}

{% block body %}
    <h1>Kill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alive</th>
                <th>Picture</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kill in kills %}
            <tr>
                <td>{{ kill.id }}</td>
                <td>{{ kill.alive ? 'Yes' : 'No' }}</td>
                <td>{{ kill.picture }}</td>
                <td>{{ kill.createdAt ? kill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_kill_show', {'id': kill.id}) }}">show</a>
                    <a href="{{ path('app_kill_edit', {'id': kill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_kill_new') }}">Create new</a> #}
{% endblock %}
