{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
    <h1>Race index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th class="priority-3">Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.name }}</td>
                <td class="priority-3"><img src="{{ asset('upload/race/' ~ race.picture) }}" width="100"></td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_race_show', {'id': race.id}) }}">show</a>
                    <a class="btn btn-outline-info" href="{{ path('app_race_edit', {'id': race.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a class="btn" href="{{ path('app_race_new') }}">Create new</a>
    </div>
{% endblock %}
