{% extends 'base.html.twig' %}

{% block title %}Edit Characters{% endblock %}

{% block body %}
{% if app.user.id == character.user.id %}
    <h1>Edit Characters</h1>

    {{ include('characters/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="d-flex justify-content-center">
        <a href="{{ path('app_characters_index') }}">back to list</a>
    </div>

    {{ include('characters/_delete_form.html.twig') }}
{% else %}
    <script>
        setTimeout(function () {
            window.location.href = "{{ path('main') }}";
        });
    </script>
{% endif %}
    <script>
        $(document).ready(function() {
            $('#characters_race').change(function() {
                $('#characters_classe').attr('disabled', false);
                var selectedRace = $(this).val();
                console.log(selectedRace);
                $.ajax({
                    url: "{{ path('app_characters_new') }}",
                    type: "POST",
                    data: {race: selectedRace},
                    success: function(data) {
                        var options = '';
                        for(var key in data) {
                        options += '<option value="'+key+'">'+data[key]+'</option>';
                        }
                        $('#characters_classe').html(options);
                    }
                });
            });
        });
    </script>
{% endblock %}
