{% extends 'base.html.twig' %}

{% block title %}Mes personnages{% endblock %}

{% block body %}

    {% if app.user %}

        <h1 class="text-center mt-5">Personnage de {{ app.user.pseudo }}</h1>
        <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
            <a class="btn btn-outline-success btn-lg" href="{{ path('app_characters_new') }}">Nouveau Personnage</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="priority-1">Personnage</th>
                    <th class="priority-5">Race</th>
                    <th class="priority-2">Classe</th>
                    <th class="priority-3">Niveau</th>
                    <th class="priority-4">Rôle Guilde</th>
                    <th class="priority-4">Guilde</th>
                    <th class="priority-1"></th>
                </tr>
            </thead>
            <tbody>

            {% for character in app.user.characters %}

                <tr>
                    <td class="priority-1">{{ character.nameCharacter }}</td>
                    <td class="priority-5">{{ character.race.name }}</td>
                    <td class="priority-2">{{ character.classe.name }}</td>
                    <td class="priority-3">{{ character.lvlCharacter }}</td>
                    {% if character.roleGuild == "ROLE_MEMBER" %}
                        <td class="priority-4">Membre</td>
                    {% elseif character.roleGuild == "ROLE_OFFICER" %}
                        <td class="priority-4">Officier</td>
                    {% elseif character.roleGuild == "ROLE_GUILDMASTER" %}
                        <td class="priority-4">Maitre de Guilde</td>
                    {% else %}
                        <td class="priority-4"></td>
                    {% endif %}
                    {% if character.roleGuild != "ROLE_NONE" %}
                        <td class="priority-4">{{ character.guilds.nameGuild }}</td>
                    {% else %}
                        <td class="priority-4">Pas de Guild</td>
                    {% endif %}
                    <td class="priority-1">
                        <a class="btn btn-outline-primary" href="{{ path('app_characters_show', {'id': character.id}) }}">Detail</a>
                        <a class="btn btn-outline-info" href="{{ path('app_characters_edit', {'id': character.id}) }}">Modification</a>
                    </td>
                </tr>

            {% else %}

                <tr>
                    <td colspan="10">no records found</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    {% else %}
        <div class="d-flex justify-content-center">
            <h1 class="text-center"><a href="/login">Connectez Vous pour voir votre liste de perso</a></h1>
        </div>
    {% endif %}

{% endblock %}
