{% extends 'base.html.twig' %}
 
{% block title %} Wotomatik / {{ character.nameCharacter }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">{{ character.nameCharacter }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>LvlCharacter</th>
                <td>{{ character.lvlCharacter }}</td>
                <td></td>
            </tr>
            <tr>
                <th>race</th>
                <td>{{ character.race.name }}</td>
                <td><img src="{{ asset('upload/race/' ~ character.race.picture) }}" width="100"></td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ character.classe.name }}</td>
                <td><img src="{{ asset('upload/classe/' ~ character.classe.picture) }}" width="100"></td>
            </tr>
            {# <tr>
                <th>GearScoreSpe1</th>
                <td>{{ character.gearScoreSpe1 }}</td>
            </tr>
            <tr>
                <th>GearScoreSpe2</th>
                <td>{{ character.gearScoreSpe2 }}</td>
            </tr> #}
            <tr>
                <th>RoleGuild</th>
                <td>{{ character.roleGuild }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_characters_index') }}">back to list</a>

    <a href="{{ path('app_characters_edit', {'id': character.id}) }}">edit</a>

    {{ include('characters/_delete_form.html.twig') }}
{% endblock %}
