{% extends 'base.html.twig' %}
 
{% block title %} Wotomatik / {{ character.nameCharacter }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">{{ character.nameCharacter }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Niveaux</th>
                <td>{{ character.lvlCharacter }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ character.race.name }}</td>
                <td><img src="{{ asset('upload/race/' ~ character.race.picture) }}" width="100"></td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ character.classe.name }}</td>
                <td><img src="{{ asset('upload/classe/' ~ character.classe.picture) }}" width="100"></td>
            </tr>
        </tbody>
    </table>

    <a href="/" class="btn">Retour à l'acceuil</a>
    <a class="btn" onclick="window.history.back()">Revenir à la page précédente</a>

{% endblock %}
