{% extends 'base.html.twig' %}

{% block title %}Specialisation index{% endblock %}

{% block body %}
    <h1>Specialisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialisation in specialisations %}
            <tr>
                <td>{{ specialisation.name }}</td>
                <td><img src="{{ asset('upload/specialisation/' ~ specialisation.picture) }}" width="50"></td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_specialisation_show', {'id': specialisation.id}) }}">show</a>
                    <a class="btn btn-outline-info" href="{{ path('app_specialisation_edit', {'id': specialisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a href="{{ path('app_specialisation_new') }}">Create new</a>
    </div>
{% endblock %}
