{% extends 'base.html.twig' %}

{% block title %}Boss index{% endblock %}

{% block body %}
    <h1>Boss index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameBoss</th>
                <th>ImgBoss</th>
                <th>Instance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boss in bosses %}
            <tr>
                <td>{{ boss.id }}</td>
                <td>{{ boss.nameBoss }}</td>
                <td>{{ boss.imgBoss }}</td>
                <td> {{ boss.instance.nameInstance }} </td>
                <td>
                    <a href="{{ path('app_boss_show', {'id': boss.id}) }}">show</a>
                    <a href="{{ path('app_boss_edit', {'id': boss.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_boss_new') }}">Create new</a>
{% endblock %}
